*.diff

Tizen/.settings
Tizen/.sign
Tizen/.project
Tizen/.tproject
*.wgt

Android/.gradle
Android/.idea
Android/build
Android/gradle
Android/gradlew*
Android/mobile/build
Android/mobile/debug
Android/mobile/release
Android/wear/build
Android/wear/debug
Android/wear/release
*.jks
*.pepk
*.aab
*.apk
*.iml
local.properties
