Tizen/.settings
Tizen/.sign
Tizen/.project
Tizen/.tproject
*.wgt

Android/.gradle
Android/.idea
Android/build
Android/gradle
Android/app/build
Android/app/release
Android/app/debug
*.jks
*.aab
*.apk
*gradle*
*.iml
local.properties