Android/.gradle
Android/.idea
Android/build
Android/gradle
Android/gradlew*
Android/mobile/build
Android/mobile/debug
Android/mobile/release
Android/wear/build
Android/wear/debug
Android/wear/release
Android/*.jks
Android/local.properties

Garmin/bin
Garmin/.vscode
Garmin/*developer_key
Garmin/*.iq