<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://windkracht8.com/RugbyRefereeWatch" version="1.4.8" viewmodes="maximized">
    <tizen:application id="lTZ15rKyhY.RugbyRefereeWatch" package="lTZ15rKyhY" required_version="2.3"/>
    <author href="https://github.com/windkracht8/rugbyrefereewatch" email="rrw@windkracht8.com">Windkracht8</author>
    <content src="index.html"/>
    <description>Time and score keeping for rugby</description>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <feature name="http://tizen.org/api/filesystem"/>
    <icon src="icon.png"/>
    <license href="https://www.gnu.org/licenses/gpl-3.0.html">GPLv3</license>
    <tizen:metadata key="AccessoryServicesLocation" value="res/xml/accessoryservices.xml"/>
    <name>RugbyRefereeWatch</name>
    <tizen:privilege name="http://tizen.org/privilege/system"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/accessoryprotocol"/>
    <tizen:privilege name="http://tizen.org/privilege/power"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="enable" encryption="disable" hwkey-event="enable"/>
</widget>
