<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2020-2026 Bart Vullings <dev@windkracht8.com>
  ~ This file is part of RugbyRefereeWatch
  ~ RugbyRefereeWatch is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
  ~ RugbyRefereeWatch is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.
  ~ You should have received a copy of the GNU General Public License along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android" >
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-feature android:name="android.hardware.type.watch" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/rrw_splash" >
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <activity
            android:name=".Main"
            android:taskAffinity=".Main"
            android:launchMode="singleTop"
            android:exported="true"
            android:theme="@style/rrw_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfActivity"
            android:taskAffinity=".Main"
            android:theme="@style/rrw" />
        <activity
            android:name=".MatchLog"
            android:taskAffinity=".Main"
            android:theme="@style/rrw_sub" />
        <activity
            android:name=".Report"
            android:taskAffinity=".Main"
            android:noHistory="true"
            android:theme="@style/rrw_sub" />
        <activity
            android:name=".Help"
            android:taskAffinity=".Main"
            android:noHistory="true"
            android:theme="@style/rrw_sub" />
    </application>
</manifest>