:root{
	--w8blue-color: #2bd2e3;
}
html, body{
	margin: 0;
	height: 100vh;
	width: 100vw;
	font-size: 10vh;
	text-align: center;
	background-color: black;
	color: white;
	overflow-x: hidden;
	overflow-y: auto;
	font-family: Tizen, Samsung Sans, Helvetica;
}
select, input, button{
	border: none;
	background: transparent;
	color: white;
	font-size: 10vh;
}
.w8blue{
	color: var(--w8blue-color);
}
#battery{
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100vw;
	font-size: 10vh;
}
#time{
	position: fixed;
	z-index: 1;
	top: 10vh;
	left: 0;
	width: 100vw;
	font-size: 15vh;
}
#home, #away{
	position: fixed;
	z-index: 1;
	top: 25vh;
	width: 50vw;
}
#home{
	left: 0;
	background: green;
}
#away{
	right: 0;
	background: red;
}
.redtext{
	color: darkred;
}
#timer{
	position: fixed;
	background-color: rgba(0,0,0,.3);
	margin-top: 3vh;
	line-height: 0.9;
	left: 0;
	top: 45vh;
	width: 100vw;
	font-size: 30vh;
	z-index: 1;
}
#timerstatus{
	position: fixed;
	left: 0;
	top: 72vh;
	width: 100vw;
	font-size: 15vh;
	z-index: 3;
}
#pen_home{
	position: fixed;
	left: 0;
	top: 76vh;
	width: 50vw;
	z-index: 2;
}
#pen_label{
	position: fixed;
	left: 0;
	top: 76vh;
	width: 100vw;
}
#pen_away{
	position: fixed;
	right: 0;
	top: 76vh;
	width: 50vw;
	z-index: 2;
}
button, .button{
	width: 100vw;
	color: var(--w8blue-color);
	background-color: rgba(0,0,0,.7);
	z-index: 5;
}
.bottombutton img{
	height: 20vh;
}
.overtimerbutton{
	display: none;
	position: fixed;
	left: 0;
	bottom: 22vh;
	height: 41vh;
}
.bottombutton{
	display: none;
	position: fixed;
	left: 0;
	bottom: 0;
	height: 22vh;
}
#bstart, #bconf{
	display: block;
}
.overlay{
	position: absolute;
	z-index: 5;
	display: none;
	width: 100vw;
	height: 90vh;
	overflow: auto;
	top: 0;
	left: 0;
	padding: 5vh 0;
	background: black;
	font-size: 10vh;
}
.goal{
	height: 30vh;
	font-size: 20vh;
	padding-top: 5vh;
}
#correct_overlay{
	padding: 15vh 5vw 10vh 5vw;
	height: 75vh;
	font-size: 10vw;
	width: 90vw;
}
#correct_title{
	padding-bottom: 5vh;
}
#score{
	overflow: hidden;
}
#score_inner, #foulplay_inner, #goal_inner{
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}
.foulplay{
	font-size: 16vh;
	padding-top: 5vh;
}
#card_yellow{
	color: yellow;
}
#card_red{
	color: red;
}
#penalty_try{
	color: white;
}
#conf{
	height: 94vh;
	padding: 2vh 0;
}
#conf input{
	text-align: right;
}
#conf select{
	text-align: center;
}
.conf_item{
	padding-bottom: 2vh;
}
#helpSettings{
	padding-top: 2vh;
}
#custom_match{
	display: none;
}
#report{
	font-size: 7vw;
	padding: 5vh 0 20vh;
}
#top{
	position: absolute;
	top: 0;
	width: 100vw;
}
#bconfwatch{
	display: none;
	height: 20vh;
}
#help{
	font-size: 7vh;
	padding: 15vh 10vw;
	width: 80vw;
	height: 70vh;
	overflow: auto;
}
#help_welcome{
	display: none;
}
.helptopic{
	font-size: 10vh;
	color: var(--w8blue-color);
}
.slider{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: .4s;
	border-radius: 34px;
	border: solid thin white;
}
.slider:before{
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: .4s;
	border-radius: 50%;
}
.switch{
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
.switch input{
	opacity: 0;
	width: 0;
	height: 0;
}
input:checked + .slider{
	background-color: var(--w8blue-color);
}

input:focus + .slider{
	box-shadow: 0 0 1px var(--w8blue-color);
}

input:checked + .slider:before{
	transform: translateX(26px);
}