html, body{
	margin: 0;
	height: 100vh;
	width: 100vw;
	font-size: 10vh;
	text-align: center;
	background-color: black;
	color: white;
	overflow-x: hidden;
	overflow-y: auto;
    font-family: Tizen, Samsung Sans, Helvetica;
}
select, input, button{
	border: none;
	background: transparent;
	color: white;
	font-size: 10vh;
}
#battery{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	font-size: 10vh;
}
#time{
	position: fixed;
	top: 10vh;
	left: 0;
	width: 100vw;
	font-size: 20vh;
}
#home, #away{
	position: fixed;
	z-index: 1;
	top: 30vh;
	width: 50vw;
}
#home{
	left: 0;
	background: green;
}
#away{
	right: 0;
	background: red;
}
.redtext{
	color: darkred;
}
#timer{
	position: fixed;
	left: 0;
	top: 47vh;
	width: 100vw;
	font-size: 30vh;
	z-index: 1;
}
#timermil{
	font-size: 15vh;
}
#timerstatus{
	position: fixed;
	left: 0;
	top: 72vh;
	width: 100vw;
	font-size: 15vh;
	z-index: 3;
}
button{
	width: 100vw;
	color: #2bd2e3;
	background-color: rgba(0,0,0,.7);
}
.overtimerbutton{
	display: none;
	position: fixed;
	left: 0;
	bottom: 20vh;
	height: 38vh;
	z-index: 5;
}
.bottombutton{
	display: none;
	position: fixed;
	left: 0;
	bottom: 0;
	height: 20vh;
	z-index: 5;
}
#bstart{
	width: 100vw;
	left: 0;
}
#bconf{
	display: block;
	width: 100vw;
	height: 22vh;
	bottom: 0;
}
#bresume, #breport, #bnext{
	left: 0;
}
#brest{
	right: 0;
}

.overlay{
	position: absolute;
	z-index: 5;
	display: none;
	width: 100vw;
	min-height: 80vh;
	top: 0;
	left: 0;
	padding: 20vh 0;
	background: black;
	font-size: 15vh;
}
#card{
	font-size: 10vw;
}
#card_player_wrap{
	position: fixed;
	width: 100vw;
	height: 33vh;
}
#card_yellow, #card_red{
	width: 100vw;
	height: 33vh;
	font-size: 25vh;
	position: fixed;
	left: 0;
	background: transparent;
}
#card_yellow{
	color: yellow;
	bottom: 35vh;
}
#card_red{
	color: red;
	bottom: 5vh;
}
#conf input{
	text-align: right;
}
#conf select{
	text-align: center;
}
#custom_match{
	display: none;
}
#report{
	font-size: 5vw;
	padding: 15vh 0 20vh;
}
#correct{
	font-size: 10vw;
}
